.card2 {
  width: 160px;
  box-shadow: 1px 1px 2px rgb(198, 198, 250);
  margin: 15px 16px;
  border-radius: 8px;

  position: relative;
  text-align: center;
}
.img {
  width: 160px;
  height: 220px;
  border-radius: 8px 8px 0 0;
}
.title {
  color: rgb(1, 1, 34);
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 0px;
  padding: 0 8px;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 144px;
  overflow: hidden;
}
.author {
  color: rgb(174, 174, 248);
  font-size: 12px;
  font-weight: 500;
  margin-top: 4px;
  padding: 0 8px;
}
.dotIcon {
  position: absolute;
  right: 2px;
  top: 4px;
  color: #fff;
  cursor: pointer;
}
.options {
  position: absolute;
  top: 20px;
  left: 148px;
  background-color: rgba(255, 255, 255);
  z-index: 1;
  width: 150px;
}
.optionList {
  list-style-type: none;
  padding-left: 0;
  font-size: 14px;
  font-weight: 500;
  color: rgb(1, 1, 34);
  text-align: left;
  margin: 0;
}
.icon {
  padding-right: 6px;
  color: rgb(1, 1, 34);
  padding-left: 6px;
}
.fav {
  color: #fff;
  position: absolute;
  left: 4px;
  top: 4px;
}
.optionsItem {
  padding: 4px 0;
}
.optionsItem:first-child {
  padding-top: 10px;
}
.optionsItem:last-child {
  padding-bottom: 10px;
}
.optionsItem:hover {
  background-color: rgb(200, 197, 197);
  cursor: pointer;
}

@media (max-width: 848px) {
  .card2 {
    width: 155px;
  }
  .img {
    width: 155px;
  }
  .title {
    width: 139px;
  }
  .options {
    left: 143px;
  }
}
@media (max-width: 769px) {
  .card2 {
    width: 170px;
  }
  .img {
    width: 170px;
  }
  .title {
    width: 154px;
  }
}
@media (max-width: 686px) {
  .card2 {
    width: 140px;

    margin: 15px;
  }
  .img {
    width: 140px;
    height: 190px;
  }
  .title {
    width: 124px;
  }
  .options {
    left: 128px;
  }
}
@media (max-width: 590px) {
  .card2 {
    width: 200px;
  }
  .img {
    width: 200px;
    height: 230px;
  }
  .title {
    width: 184px;
  }
  .options {
    left: 188px;
  }
}
@media (max-width: 540px) {
  .card2 {
    width: 140px;

    margin: 10px;
  }
  .img {
    width: 140px;
    height: 160px;
  }
  .title {
    width: 124px;
  }
  .options {
    left: 128px;
  }
}
@media (max-width: 400px) {
  .card2 {
    width: 70vw;
    text-align: center;
  }
  .img {
    width: 70vw;
    height: 220px;
  }
  .title {
    width: calc(70vw - 16px);
  }
  .options {
    left: calc(70vw - 15px);
  }
}
